In [1]:
import pandas as pd
import numpy as np

In [5]:
usage = pd.read_excel('./data/usage.xlsx', index_col='Part Number')

In [6]:
usage.head()

,1,2,3,4,5,6,7,8,9,10,...,242,243,244,245,246,247,248,249,250,251
Part Number,,,,,,,,,,,,,,,,,,,,,
4474-954261,0,0,0,2000,0,0,100,0,0,0,...,0,92,18,0,0,0,0,0,0,0
2907-805034,0,0,7000,0,0,0,0,0,0,0,...,0,4000,1500,0,0,120,0,0,0,0
4238-795393,0,0,2000,6000,20000,0,200,0,0,0,...,7300,0,60,3100,750,320,2250,2000,0,0
9771-424291,0,0,0,4000,20000,0,100,0,250,0,...,617,1709,1381,2400,0,300,0,0,0,100
6067-292422,40,0,0,2000,0,1000,0,0,290,0,...,7000,4000,0,3000,750,20,2250,2000,200,0

In [57]:
# ADI method

def adi(x):
    '''
    x is an array of demand quantities. The frequency must be equal units with 0 or blanks for no pulls
    '''
    
    # Setup
    x = np.array(x)
    demand_array = np.zeros(len(x))
    
    # Loop for boolean demand
    for i in range(1, len(x)):
        
        if x[i] == 0:
            demand_array[i] = 0
        else:
            demand_array[i] = 1
            
    # ADI calculation
    adi = len(x) / len(x[x > 0])
    
    return adi

In [61]:
# choose part number
part_number = '4238-795393'


data = usage.T.loc[:,array_col]

In [59]:
adi(data)

2.3457943925233646